---
import Layout from "../layouts/Layout.astro";
import DradAndDrop from "../components/DradAndDrop.astro";
import DradAndDrop2 from "../components/DradAndDrop2.astro";

const videoSrc = "https://res.cloudinary.com/drjuowzv7/video/upload/v1729633410/contract_ececra.mp4";
const realGif = "doll.webp";
const virusGif = "virus.gif";
---

<Layout title="游댠 Correo del infierno. 游댠">
	<main>
		<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
		<audio id="soundtrack" src="soundtrack.ogg" preload="auto" loop> </audio>
		<div>
			<span id='text-sound' class="text-sound">Para una mejor experiencia activa el sonido</span>
			<span id='sound-btn' class="sound-btn">Activar sonido</span>
		</div>
		<div class="form fomr-size" id="form">
			<span class="form-title"> Nos vengaremos por ti. </span>
			<input
				id="input"
				class="form-input"
				placeholder="Nombre de la persona que deseas matar."
			/>
			<button class="form-button" id="form-button">Enviar</button>
		</div>
		<div class="hiden" id="victim">
			<span class="form-title">
				Por favor, suba una imagen de la persona que se quiere vengar.
			</span>
			<DradAndDrop
				buttonLabel="Subir"
				toggleStyle={{
					hidenElement: "victim",
					removeClass: "drag-drog",
					displayElement: "user",
					addClass: "drag-drog",
				}}
			/>
		</div>
		<div class="hiden" id="user">
			<span class="form-title"> Por favor, suba una imagen suya. </span>
			<DradAndDrop2
				buttonLabel="Subir"
				toggleStyle={{
					hidenElement: "user",
					removeClass: "drag-drog",
					displayElement: "container-video",
					addClass: "form",
				}}
			/>
		</div>
		<div id="container-video" class="hiden">
			<video id="video" width="100%" controls>
				<source src={videoSrc} type="video/mp4" />
				Tu navegador no soporta la reproducci칩n de video.
			</video>
			<button class="button" id="video-btn">Siguiente</button>
		</div>
		<div id="ribbon" class="hiden">
			<span class="title-ribbon">쯈uieres desatar el hilo? </span>
			<img id="gif" src={realGif} alt="GIF" width="500" />
			<button class="button" id="gif-btn">Desatar</button>
		</div>
		<div id="virus" class="hiden">
			<img id="gif" src={virusGif} alt="GIF" width="500" />
			<audio id="jumpscare" src="jumpscare.ogg" preload="auto"> </audio>
			<p>
				Finalm3nte has ca칤d0 3n mi trampa. S0y 3l virus, la plaga
				digital. S0y tan r3al c0m0 3l c칩dig0 que s0stiene 3ste mund0
				digital. Cr3iste qu3 3ste 3ra el corr30 d3l infi3rn0, vaya qu3
				3res facil d3 3nga침ar,쯦3 r3t0 a un du3l0? ... t칰 contra m칤. Si
				ganas, t3 lib3r0. P3r0 si pi3rdes... bu3n0, digam0s qu3 tu
				exist3ncia s3r치... 3liminada.
			</p>
			<button class="button" id="virus-btn">Pelear</button>
		</div>
	</main>
</Layout>

<script>
import { navigate } from "astro:transitions/client";

	const jumpScare = document.getElementById("jumpscare");
	const soundTrack = document.getElementById("soundtrack");
	const soundBtn = document.getElementById("sound-btn");
	const textBtn = document.getElementById("text-sound");

	const toggleStyle = (
		hidenElement,
		hidenClass,
		displayElement,
		displayClass,
	) => {
		const toHiden = document.getElementById(hidenElement);
		const toDisplay = document.getElementById(displayElement);
		toHiden.classList.replace(hidenClass, "hiden");
		toDisplay.classList.replace("hiden", displayClass);
	};
	// (()=>{
	// 	soundTrack.play()
	// })();

	document.getElementById("sound-btn").addEventListener("click", () => {
		textBtn.classList.toggle("notext");
		console.log(soundBtn.textContent)
		if(soundBtn.textContent==="Activar sonido"){
			soundBtn.textContent="De sactivar sonido"
			soundTrack.play()
		} else{
			soundBtn.textContent="Activar sonido"
			soundTrack.pause()
		}
		
	});

	document.getElementById("form-button").addEventListener("click", () => {
		const inputName = document.getElementById("input").value;
		localStorage.setItem("victimName", inputName);
		toggleStyle("form", "form", "victim", "drag-drog");

	});

	document.addEventListener("DOMContentLoaded", () => {
		const video = document.getElementById("video");
		if (video) {

			video.addEventListener("play", () => {
				soundTrack.pause()
			})

			video.addEventListener("ended", () => {
				toggleStyle("container-video", "form", "ribbon", "form");
				soundTrack.play()
			});
		}
	});

	document.getElementById("video-btn").addEventListener("click", () => {
		toggleStyle("container-video", "form", "ribbon", "form");
	});

	const placeholder = "doll.jpeg";
	document.addEventListener("DOMContentLoaded", () => {
		const gifImage = document.getElementById("gif");
		const playGifBtn = document.getElementById("gif-btn");

		if (gifImage) {
			playGifBtn.addEventListener("click", () => {
				gifImage.src = `${placeholder}`;
				setTimeout(() => {
					toggleStyle("ribbon", "form", "virus", "form");
					soundTrack.pause()
					jumpScare.play()
				}, 4000);
			});
		}
	});

	document.getElementById("virus-btn").addEventListener("click", () => {
		navigate(`/stadium`);
	});
</script>

<style>
	main {
		margin: 0 auto;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: azure;
	}
	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		justify-content: space-evenly;
	}
	.fomr-size{
		height: 65%;
	}
	.form-title {
		color: azure;
		font-size: 28px;
		font-family: fantasy;
	}
	.form-input {
		width: 250px;
		height: 25px;
	}
	.form-button {
		width: 100px;
		font-family: fantasy;
		cursor: pointer;
	}
	.hiden {
		display: none;
	}
	.drag-drog {
		display: flex;
		height: 300px;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	.video {
		width: 800px;
	}
	.button {
		width: 200px;
		height: 50px;
		border-radius: 5%;
		background-color: blueviolet;
		color: azure;
		font-family: fantasy;
		font-size: 20px;
		cursor: pointer;
	}
	.title-ribbon {
		font-size: 25px;
	}
	.text-sound{
		color: aliceblue;
		font-size: 10px;
		font-weight: bold;
	}
	.sound-btn{
		cursor: pointer;
		color: aliceblue;
		font-size: 10px;
		font-weight: bold;
		text-shadow: 
                0 0 5px #ffcc00, 
                0 0 10px #ffcc00, 
                0 0 15px #ff6600, 
                0 0 20px #ff6600, 
                0 0 25px #ff3300; 
	}
	.notext{
		opacity: 0;
	}
	p {
		font-family: 'Orbitron', sans-serif;
		color: aliceblue;
		width: 80%;
	}
</style>
