---
import Layout from '../layouts/Layout.astro';
import DradAndDrop from '../components/DradAndDrop.astro';
import DradAndDrop2 from '../components/DradAndDrop2.astro';


const videoSrc = "src/assets/contract.mp4"; 
const realGif ="src/assets/doll.webp"
const virusGif = "src/assets/virus.gif"


---
<Layout title="游댠 Correo del infierno. 游댠">
	<main >
		<div class="form" id="form">
			<span class="form-title">
				Nos vengaremos por ti.
			</span>
			<input id="input" class="form-input" placeholder="Nombre de la persona que deseas matar."/>
			<button class="form-button" id="form-button">Enviar</button>
		</div>
		<div class="hiden" id="victim">
			<span class="form-title">
				Por favor suba una imagen de la persona que se  quiere vengar.
			</span>
			<DradAndDrop 
				buttonLabel='Subir'
				toggleStyle={ {hidenElement:'victim',removeClass:'drag-drog',displayElement:'user',addClass:'drag-drog'}}
			>
			</DradAndDrop>
		</div>
		<div class="hiden" id="user">
			<span class="form-title">
				Por favor suba una imagen suya.
			</span>
			<DradAndDrop2 
				buttonLabel='Subir'
				toggleStyle={ {hidenElement:'user',removeClass:'drag-drog',displayElement:'container-video',addClass:'form'}}
			>
			</DradAndDrop2>
		</div>
		<div id="container-video" class="hiden">
			<video id="video" width="100%" controls>
				<source src={videoSrc} type="video/mp4" />
				Tu navegador no soporta la reproducci칩n de video.
			</video>
			<button class="button" id="video-btn">Siguiente</button>
		</div>
		<div id="ribbon" class="hiden">
			<span class="title-ribbon">쯈uieres desatar el hilo? </span>
			<img id="gif" src={realGif} alt="GIF" width="500" />
			<button class="button" id="gif-btn">Desatar</button>
		</div> 
		<div id="virus" class="hiden">
			<img id="gif" src={virusGif} alt="GIF" width="500" />
			<p>Finalm3nt3 has ca칤d0 3n mi trampa. S0y 3l virus, la plaga digital. S0y tan r3al c0m0 3l c칩dig0 que s0stiene 3st3 mund0 digital. Cr3iste qu3 3st3 3ra el corr30 d3l infi3rn0, vaya qu3 3r3s facil d3 3nga침ar,t3 r3t0 a un du3l0... t칰 contra m칤. Si ganas, t3 lib3r0. P3r0 si pi3rd3s... bu3n0, digam0s qu3 tu 3xist3ncia s3r치... 3liminada</p>
			<button class="button" id="virus-btn">Pelear</button>
		</div>	
	</main>
</Layout>

<script>
	import { navigate } from "astro:transitions/client";
	const toggleStyle = (hidenElement, hidenClass,displayElement, displayClass)=>{
		const toHiden = document.getElementById(hidenElement);
        const toDisplay = document.getElementById(displayElement);
        toHiden.classList.replace(hidenClass,'hiden');
        toDisplay.classList.replace('hiden',displayClass);
	}
	
	 document.getElementById('form-button').addEventListener('click', () => {
		const inputName = document.getElementById('input').value;
    	localStorage.setItem('victimName', inputName);
		toggleStyle('form','form','victim','drag-drog')
      });

      window.addEventListener('DOMContentLoaded', () => {
        console.log('LOADED')
		const video = document.getElementById('video');
        if (video) {
			console.log("video")
          video.addEventListener('ended', () => {
            toggleStyle('container-video','form','ribbon','form')
          });
        }
      });

	  document.getElementById('video-btn').addEventListener('click', () => {
		toggleStyle('container-video','form','ribbon','form')
	  })
		

	const placeholder ="src/assets/doll.jpeg" 
	window.addEventListener('DOMContentLoaded', () => {
        const gifImage = document.getElementById('gif');
        const playGifBtn = document.getElementById('gif-btn');

        if (gifImage) {
          playGifBtn.addEventListener('click', () => {
            gifImage.src = `${placeholder}`;
			setTimeout(()=>{toggleStyle('ribbon','form','virus','form')},4000)
          });
        }
      });

	  document.getElementById('virus-btn').addEventListener('click', () => {
		navigate(`/stadium`)
      });



</script>

<style>
	main {
		margin: 0 auto;
		width: 100%;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		color: azure;
	}
	.form{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		justify-content: space-evenly;
	}
	.form-title{
		color:azure;
		font-size: 28px;
		font-family:fantasy;
	}
	.form-input{
		width: 250px;
		height: 25px;
	}
	.form-button{
		width: 100px;
		font-family: fantasy;
	}
	.hiden{
		display: none; !important
	}
	.drag-drog{
		display: flex;
		height: 300px;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		
	}
	.video{
		width: 800px;
	}
	.button{
		width: 200px;
		height: 50px;
		border-radius: 5%;
		background-color: blueviolet;
		color: azure;
		font-family: fantasy;
		font-size: 20px;
	}
	.title-ribbon{
		font-size: 25px;
	}
	p{
		color: aliceblue;
	}
</style>
